
#ulParent
{
    list-style:none;
    float:left;
    
      margin:2px 0px 0px 0px;
      padding:0px 0px 0px 6px;      
  
    }
    
  
   
    #ulParent li
{
      list-style:none;
    float:left;
 
    padding:6px 6px;
    background-image:url('../Images/Design/nav_line.gif');
    background-repeat:no-repeat;
    background-position:right;
   
    font-weight:bold;   
    
    
    }
    
      #ulParent ul
{
   
    width:210px;
    display:none;
  background-color:#DE1F1F;
      padding:0px 0px 0px 0px;
    margin:36px 0px 0px 0px;
    z-index:100;
  
      
   
    }
    
     #ulParent ul li
{
    
   
    width:210px;
    background-image:none;
   text-align:left;
    padding:0px;
    margin:0px 0px 0px 0px;
    border-bottom:1px solid #EEE;
    overflow:hidden;
   
    
 
   
    }
    
     #ulParent ul li:hover
{
    
   
   
    background-color:#f39035;
   
    }
    
         #ulParent ul li a
{
    font-size:13px;
    color:White;
    background-color:none;
    width:100%;
    border-radius:0px;
    font-weight:bold;   
    
   
    }
    
    
    #ulParent li:hover ul
{
      display:block;
      position:absolute;
    
    
    }
    #ulParent li a
{
      list-style:none;
     float:left;
     color:White;
     font-family:Arial;
     font-size:14px;
     padding:6px 8px;
           border-radius:3px;
     -webkit-transition:0.5s;
   
   
    }
    #ulParent li a:hover
{ 
      background-color:#f39035;
      border-radius:3px;
      text-decoration:none;
     
      
   
    }
    